@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
  font-family: "Space Mono", monospace;
}

.app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  letter-spacing: 10px;
  color: var(--dark-grayish-cyan);
  font-size: 24px;
  margin: 40px 0;
}

.app-title span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .app-title {
    margin: 60px 0;
  }

  .app-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
